<form {{action "authenticate" on="submit"}}>
  <label for="identification">Login</label>
  {{input value=identification placeholder="Enter login"}}

  <label for="password">Password</label>
  {{input value=password type="password" placeholder="Enter password"}}

  <button type="submit">Login</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}

